#navbar {
    color: white;
    background-color: #EF5350;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.span {
    padding-top: 2px;
    padding-bottom: 2px;
}

.links {
    padding-top: 2px;
    padding-bottom: 2px;
}

.link-container a{
    color: white;
}

.link-container a:hover {
    text-decoration: none;
    color: #FFEBEE;
}

#mainheader {
    padding-top: 50px;
    padding-bottom: 120px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/pizza.jpeg');
    color: white;
    background-attachment: fixed;
    font-family: Ubuntu;
}

#mainheader h1 {
    font-size: 65px;
}

.main-logo-image img{
    width: 100%;
}

.cater h2{
    font-size: 45px;
}

.halalimage img {
    width: 10%;
}

#menu-header{
    padding-top: 70px;
    padding-bottom: 70px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/menu.jpeg');
    background-attachment: fixed;
    color: white;
    font-family: Ubuntu;
}

.menu-btn {
    color: white;
    border: 2px solid #B71C1C;
    border-radius: 0px;
    padding: 18px 36px;
    display: inline-block;
    font-family: Ubuntu;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 ;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    width: 100%;
  }

  .menu-btn:hover {
    box-shadow: inset 0 100px 0 0 #B71C1C;
    background-color: #B71C1C;
    color: white;
  }

  .menu-btn2 {
    color: white;
    border: 2px solid #B71C1C;
    border-radius: 0px;
    padding: 18px 36px;
    display: inline-block;
    font-family: Ubuntu;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 ;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    width: 100%;
    background-color: #B71C1C;
  }

  .menu-btn2:hover {
    box-shadow: inset 0 100px 0 0 #EF5350;
    background-color: #B71C1C;
    color: #ffffff;
  }

  .menu-btn1 {
    color: #B71C1C;
    border: 2px solid #B71C1C;
    border-radius: 0px;
    padding: 18px 36px;
    display: inline-block;
    font-family: Ubuntu;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 ;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    width: 100%;
  }

  .menu-btn1:hover {
    box-shadow: inset 0 100px 0 0 #B71C1C;
    background-color: #B71C1C;
    color: white;
  }

  .mainheader-btn {
      padding: 10px;
  }

  #about{
      padding-top: 210px;
      padding-bottom: 210px;
      background-color: #B71C1C;
      color: white;
      font-family: Ubuntu;
  }

  .image img {
      width: 50%;
  }

  #menu {
      padding-top: 80px;
      padding-bottom: 50px;
      color: #B71C1C;
      font-family: Ubuntu;
  }

  .menu-item {
      padding: 10px;
  }

  .description-prices {
      padding: 20px;
  }

  .pizza {
      display: none;
  }

  .calzone {
      display: none;
  }

  .pita-wraps {
      display: none;
  }

  .wings {
      display: none;
  }

  .xpress-phillies {
      display: none;
  }

  .burgers {
      display: none;
  }

  .submarines {
      display: none;
  }

  .salads {
      display: none;
  }

  .sideOrders {
      display: none;
  }

  .desserts {
      display: none;
  }

  .beverages {
      display: none;
  }

  .empty-menu {
      padding: 40px;
  }

  .menu1 {
      background-color: #B71C1C;
      color: white;
      padding: 10px;
  }

  .menu2 {
      background-color: white;
      color: #B71C1C;
      padding: 10px;
  }

  #contact {
      padding-top: 40px;
      padding-bottom: 40px;
      color: white;
      background-color: #C62828;
      font-family: Ubuntu;
  }

  .googlemap {
      padding-top: 50px;
      padding-bottom: 50px;
  }

  .googlemap iframe{
    width: 100%;
  }

  .contact-info {
      padding-top: 60px;
      padding-bottom: 60px;
  } 

  .dropdown-btn-platform {
    display: none;
} 

  @media only screen and (max-width: 600px) {
    .menu-list{
        display: none;
    }
    .dropdown-btn-platform {
        display: block;
    } 
}

.halal-image{
    padding: 8px;
}

.halal-image img{
    width: 15%;
}

.food-description {
    background-color: white;
}

.dessert-image img {
    width: 30%;
}

  #footer{
      padding: 20px;
      color: white;
      background-color: #EF5350;
      font-family: Ubuntu;
  }